<html>
<head>
<title>PreviewURL <$mt:var name="page_title" escape="html"$></title>
</head>
<frameset cols="*">
<frame name="archive" src="<$mt:var name='archive_url'$>"></frame>
</frameset>
</html>